.navbar{
    display:flex;
    justify-content: space-between;
    color: white;
    gap: 1rem ;
}
.nav{
    display: flex;
    justify-content: space-between;
}

.navn{
    color:rgb(224, 106, 169);
    text-decoration: none !important;
}

.arc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(12, 12, 120);
    padding: 2rem;
  
}
.images{
    display: flex;
    justify-content:flex-end ;

}

.images img{
   width: 35rem;
   height: 30rem;
   
}
.body{
 display: flex;
 flex-direction: row;
 color: rgb(241, 98, 62);
 justify-content: space-between;
 padding: 0rem 2rem ;
 gap: 6rem;
 margin: 5rem;
  /* background-image: url("../Logo/shopping\ 41.jpg"); */

}

.text{
    color: rgb(20, 6, 75);
    padding-top: 2rem;
    width: 70% !important;
    font-size: 5vh;
}
.heading1{
    font-size: 3vh;
}

.button{
    color: blue;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    border-color: blue;
    width: 10rem;

}
.heading{
    font-size: 3.5rem;
    color: rgb(224, 106, 169);
}
.logo{
    height: 30px;
    width: 30px;
}